* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 70%;
  min-width: 1087px;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header a {
  text-decoration: none;
  color: grey;
}
.header-left a {
  display: inline-block;
  vertical-align: middle;
}

.header-left #logo {
  width: 100px;
}

header ul {
  list-style: none;
}
header ul li {
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  color: grey;
}
.header-right > ul > li {
  line-height: 12vh;
}

.header-right #app{
  color: white;
  background-color: rgb(235, 0, 141);
  padding: 12px 25px;
  border-radius: 25px;
}

.dropdown-on-hover {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0 0 7px rgb(230, 230, 230);
  display: none;
}

.dropdown li {
  display: block;
  line-height: 60px;
  white-space: nowrap;
}

i.display-none {
  display: none;
}

header a.active {
  color: black;
}

.black {
  color: black;
}
